<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengfu.usercenterapi.mapper.OrderMainMapper">

    <resultMap id="BaseResultMap" type="com.chengfu.usercenterapi.model.domain.OrderMain">
            <id property="id" column="id" />
            <result property="orderNo" column="order_no" />
            <result property="userId" column="user_id" />
            <result property="totalAmount" column="total_amount" />
            <result property="actualAmount" column="actual_amount" />
            <result property="isPaid" column="is_paid" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <sql id="Base_Column_List">
        id,order_no,user_id,total_amount,actual_amount,is_paid,
        create_time,update_time,is_deleted
    </sql>
</mapper>
